/* reset default css style */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #3d535c;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgba(119, 140, 202, 0.03);
    overflow: hidden auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */

.header {
    width: 100%;
    height: 70px;
    padding: 0 80px;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 30px;
}

.header-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 5px;
    margin-right: auto;
}

/* content */

.content {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    padding: 40px 80px;
}

.content-section {
    width: 50%;
    height: 100%;
}

.content-heading {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.5rem;
    margin: 0 0 40px 0;
}

.content-heading > span {
    color: #7171f4;
}

.content-features {
    margin: 0 0 40px 20px;
    padding: 0;
}
.content-features > li {
    margin-bottom: 10px;
}

.content-features > li:last-child {
    margin-bottom: 0;
}

.content-cta {
    color: #fff;
    padding: 10px 20px;
    background: linear-gradient(#7a7af5, #7171f4);
    border-radius: 50px;
    box-shadow: 0 20px 20px -10px rgba(113, 113, 244, 0.5);
}

/* footer */

.footer {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    height: 50px;
    padding: 0 70px;
}

/* switch */

.switch {
    position: relative;
    appearance: none;
    width: 30px;
    height: 15px;
    display: flex;
    background-color: rgba(113, 113, 244, 0.2);
    border-radius: 50px;
    box-shadow: 0 0 0 4px rgba(113, 113, 244, 0.2);
    transition: 0.2s;
    cursor: pointer;
}

.switch::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 20px;
}

.switch:checked {
    background-color: rgba(113, 113, 244, 1);
    box-shadow: 0 0 0 4px rgba(113, 113, 244, 1);
    flex-direction: row-reverse;
}

/* select */

.select {
    position: relative;
}

.select-head {
    white-space: nowrap;
    color: #668799;
    line-height: 1;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
}

.select-head::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23668799' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    margin-left: 5px;
    transition: 0.2s;
}

.select-head.active::after {
    transform: rotate(180deg) translateY(2px);
}

.select-body {
    position: absolute;
    top: 0; right: 0;
    z-index: 100;
    white-space: nowrap;
    min-width: 100px;
    max-height: 200px;
    border-radius: 5px;
    background-color: #7171f4;
    transform: scaleY(0);
    transform-origin: 100% 0;
    opacity: 0;
    transition: 0.2s cubic-bezier(0.26, 1.07, 0.8, 1.15);
    overflow: hidden auto;
}

.select-body.active {
    transform: scaleY(1);
    opacity: 1;
}

.select-item {
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

/* dropdown */

.dropdown {
    position: relative;
}

.dropdown_head {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2;
}

.dropdown-head > svg {
    width: 20px;
    pointer-events: none;
}

.dropdown-head {
    line-height: 1;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.dropdown-body {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 30px;
    min-width: 100px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: scale(0);
    transform-origin: 100% 0;
    transition: 0.2s;
}

.dropdown-body.active {
    opacity: 1;
    transform: scale(1);
}

.dropdown-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(119, 140, 202, 0.1);
}

.dropdown-item-title {
    margin-right: 20px;
    pointer-events: none;
}

/* editor */

.editor {
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(119, 140, 202, 0.15);
    border-radius: 10px;
}

.editor-head {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(119, 140, 202, 0.1);
    border-radius: 10px 10px 0 0;
}

.editor-head-dots {
    width: 50px;
}

.editor-body {
    width: 100%;
    height: calc(100% - 50px);
    border: 1px solid rgba(119, 140, 202, 0.1);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.editor-body > #iblize {
    width: 100%;
    height: 100%;
}

.editor-body > #iblize .iblize .iblize_linenumber,
.editor-body > #iblize .iblize .iblize_pre,
.editor-body > #iblize .iblize .iblize_textarea {
    padding: 10px 20px;
}

@media screen and (max-width: 720px) {
    .header {
        padding: 0 20px;
    }

    .content {
        height: auto;
        padding: 20px;
        flex-direction: column;
    }

    .content-heading {
        text-align: center;
        font-size: 3rem;
    }

    .content-section {
        width: 100%;
        margin-bottom: 40px;
    }

    .content-section.intro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .editor {
        height: 400px;
    }
}
