/*!
 * name : iblize-dark
 * desc : inspired by one dark pro
 * author : iblize
 */

$color-base: hsl(200, 20%, 70%);
$color-green: hsl(123, 30%, 60%);
$color-red: hsl(350, 70%, 60%);
$color-blue: hsl(200, 70%, 60%);
$color-yellow: hsl(36, 70%, 60%);
$color-purple: hsl(300, 50%, 60%);
$background-color: hsl(230, 25%, 18%);

.iblize-dark {
    color: $color-base;
    background-color: $background-color;

    & .iblize {
        // font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
        // font-size: 14px;
        // line-height: 1.75;

        &_linenumber {
            padding: 15px;
            &_child { opacity: 0.5; }
        }

        &_textarea,
        &_pre {
            /* textarea and pre must have same padding size */
            padding: 15px 0;
        }

        &_textarea {
            caret-color: $color-blue;

            &::selection {
                background-color: transparentize($color: $color-blue, $amount: 0.8);
            }
        }
    }

    & .token {
        &.punctuation,
        &.attr-equals,
        &.property {
            color: $color-base;
        }

        &.comment,
        &.prolog,
        &.doctype,
        &.cdata,
        &.namespace {
            color: $color-base;
            opacity: 0.5;
        }

        &.keyword {
            color: $color-purple;
        }

        &.tag,
        &.parameter,
        &.interpolation,
        &.selector,
        &.deleted {
            color: $color-red;
        }

        &.function,
        &.operator,
        &.entity,
        &.url,
        &.regex,
        &.atrule,
        &.class-name {
            color: $color-blue;
        }

        &.string,
        &.char,
        &.inserted,
        &.builtin,
        &.attr-value {
            color: $color-green;
        }

        &.attr-name,
        &.number,
        &.boolean,
        &.important,
        &.symbol,
        &.constant {
            color: $color-yellow;
        }

        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }

        &.entity {
            cursor: help;
        }
    }

    .language-css {
        color: $color-yellow;
    }
}
