/*!
 * name : okaidia
 * desc : Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * author : Ocodia
 */

@import "base";

.iblize.okaidia {
    color: #f8f8f2;
    background-color: #272822;

    & .iblize {
        &_linenumber,
        &_textarea,
        &_pre {
            /* linenumber, textarea and pre must have same padding size */
            padding: 10px 15px;
        }

        &_linenumber {
            border-right: 1px solid
                transparentize($color: #f8f8f2, $amount: 0.8);
        }

        &_textarea {
            caret-color: #f8f8f2;

            &::selection {
                background-color: transparentize($color: #f8f8f2, $amount: 0.8);
            }
        }
    }

    & .token {
        &.comment,
        &.prolog,
        &.doctype,
        &.cdata {
            color: #8292a2;
        }

        &.punctuation {
            color: #f8f8f2;
        }

        &.namespace {
            opacity: 0.7;
        }

        &.property,
        &.tag,
        &.constant,
        &.symbol,
        &.deleted {
            color: #f92672;
        }

        &.boolean,
        &.number {
            color: #ae81ff;
        }

        &.selector,
        &.attr-name,
        &.string,
        &.char,
        &.builtin,
        &.inserted {
            color: #a6e22e;
        }

        &.operator,
        &.entity,
        &.url,
        .language-css &.string,
        .style &.string,
        &.variable {
            color: #f8f8f2;
        }

        &.atrule,
        &.attr-value,
        &.function,
        &.class-name {
            color: #e6db74;
        }

        &.keyword {
            color: #66d9ef;
        }

        &.regex,
        &.important {
            color: #fd971f;
        }

        &.important,
        &.bold {
            font-weight: bold;
        }
        &.italic {
            font-style: italic;
        }

        &.entity {
            cursor: help;
        }
    }
}
