/*!
 * name : solarized-light
 * desc : Solarized color schemes originally by Ethan Schoonover http://ethanschoonover.com/solarized
 * author : Hector Matos https://krakendev.io
 */

 /*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

@import "base";

.solarized-light {
    color: #657b83; /* base00 */
    background-color: #fdf6e3; /* base3 */

    & .iblize {
        &_linenumber,
        &_textarea,
        &_pre {
            /* linenumber, textarea and pre must have same padding size */
            padding: 10px 15px;
        }

        &_linenumber {
            border-right: 1px solid transparentize($color: #657b83 /* base00 */, $amount: 0.8);
        }

        &_textarea {
            caret-color: #657b83; /* base00 */

            &::selection {
                background-color: transparentize($color: #657b83 /* base00 */, $amount: 0.8)
            }
        }
    }

    .token {
        &.comment,
        &.prolog,
        &.doctype,
        &.cdata {
            color: #93a1a1; /* base1 */
        }

        &.punctuation {
            color: #586e75; /* base01 */
        }

        &.namespace {
            opacity: 0.7;
        }

        &.property,
        &.tag,
        &.boolean,
        &.number,
        &.constant,
        &.symbol,
        &.deleted {
            color: #268bd2; /* blue */
        }

        &.selector,
        &.attr-name,
        &.string,
        &.char,
        &.builtin,
        &.url,
        &.inserted {
            color: #2aa198; /* cyan */
        }

        &.entity {
            color: #657b83; /* base00 */
            background: #eee8d5; /* base2 */
        }

        &.atrule,
        &.attr-value,
        &.keyword {
            color: #859900; /* green */
        }

        &.function,
        &.class-name {
            color: #b58900; /* yellow */
        }

        &.regex,
        &.important,
        &.variable {
            color: #cb4b16; /* orange */
        }

        &.important,
        &.bold {
            font-weight: bold;
        }
        &.italic {
            font-style: italic;
        }

        &.entity {
            cursor: help;
        }
    }
}
